[Unit]
Description=Bluetooth OBEX service

[Service]
Type=dbus
BusName=org.bluez.obex
ExecStart=/usr/lib/bluez5/bluetooth/obexd

[Install]
Alias=dbus-org.bluez.obex.service
